{% extends 'base.html.twig' %}

{% block title %}Home Page{{  parent() }}{% endblock %}

{% block body %}

<h1>{{ title1 }}</h1>
{# Comments here #}
    <img src="Humber Map Resized.png" style="margin-left: 400px;margin-right: 200px;" usemap="#image-map" width="1000px" height="1000px">

    <map name="image-map">
        <area target="" alt="" title="LRC" href="{{ path('forms', {'slug': 'LRC'}) }}" coords="504,4,746,246" shape="rect">
        <area target="" alt="" title="CTI" href="{{ path('forms', {'slug': 'CTI'}) }}" coords="755,6,995,248" shape="rect">
        <area target="" alt="" title="H" href="{{ path('forms', {'slug': 'H'}) }}" coords="5,254,246,498" shape="rect">
        <area target="" alt="" title="J" href="{{ path('forms', {'slug': 'J'}) }}" coords="253,255,497,497" shape="rect">
        <area target="" alt="" title="N" href="{{ path('forms', {'slug': 'N'}) }}" coords="504,255,746,496" shape="rect">
        <area target="" alt="" title="GH" href="{{ path('forms', {'slug': 'GH'}) }}" coords="755,252,996,497" shape="rect">
        <area target="" alt="" title="F" href="{{ path('forms', {'slug': 'F'}) }}" coords="4,504,248,746" shape="rect">
        <area target="" alt="" title="K" href="{{ path('forms', {'slug': 'K'}) }}" coords="251,502,496,745" shape="rect">
        <area target="" alt="" title="L" href="{{ path('forms', {'slug': 'L'}) }}" coords="504,505,747,746" shape="rect">
        <area target="" alt="" title="M" href="{{ path('forms', {'slug': 'M'}) }}" coords="754,504,996,751" shape="rect">
        <area target="" alt="" title="JF" href="{{ path('forms', {'slug': 'JF'}) }}" coords="5,752,248,996" shape="rect">
        <area target="" alt="" title="LX" href="{{ path('forms', {'slug': 'LX'}) }}" coords="254,752,497,992" shape="rect">
    </map>
<div>Hello add here</div>

{% endblock %}