{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body_id 'reset_password_check_email' %}

{% block main %}
    <div class="row">
        <p>{{ 'reset_password.check_email_p1'|trans({'%token%': tokenLifetime|date('g')}) }}</p>
        <p>{{ 'reset_password.check_email_p2'|trans({'%reset_password_link%': path('app_forgot_password_request')})|raw }}</p>
    </div>
    {% if email is defined %}
        <div class="row">
            <h3>Sent Email -</h3>
            <div id="reset-email-msg" class="well well-lg">
                {{ email|raw }}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block sidebar %}
    <div class="section about">
        <div class="well well-lg">
            {% if email is defined %}
                <p>{{ 'reset_password.check_email_info_1'|trans }}</p>
            {% else %}
                <p>{{ 'reset_password.check_email_info_2'|trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}