{{ form_start(form, { method: 'POST', action: path('comment_new', { 'postSlug': post.slug }) }) }}
    {#  instead of displaying form fields one by one, you can also display them
        all with their default options and styles just by calling to this function:

        {{ form_widget(form) }}
    #}

    <fieldset>
        <legend>Add a comment</legend>

        <div class="form-group">
            {{ form_label(form.content, 'Content', { label_attr: { class: 'hidden' }}) }}

            {% if not form.vars.valid %}
                <div class="alert alert-danger form-error">
                    {{ form_errors(form.content) }}
                </div>
            {% endif %}

            {{ form_widget(form.content, { attr: { rows: 10 } }) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.submit, { attr: { class: 'btn-primary pull-right' }, label: 'Publish comment' }) }}
        </div>
    </fieldset>
{{ form_end(form) }}
