<article class="post">
    <h2>
        <a href="{{ path('blog_post', {slug: post.slug}) }}">
            {{ post.title }}
        </a>
    </h2>

    <p class="post-metadata">
        <span class="metadata"><twig:ux:icon name="tabler:calendar-month"/> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span class="metadata"><twig:ux:icon name="tabler:user"/> {{ post.author.fullName }}</span>
    </p>

    <p>{{ post.summary }}</p>

    {{ include('blog/_post_tags.html.twig') }}
</article>
