{% extends 'base.html.twig' %}

{% block body_id 'user_edit' %}

{% block main %}
    <h1>{{ 'title.edit_user'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.email) }}

        <div class="form-group">
            {% if app.user.avatar is defined and app.user.avatar is not empty %}
                <div class="thumbnail">
                    <img src="{{ asset('uploads/users/' ~ app.user.avatar) }}" title="{{ app.user.username }}" alt="{{ 'label.avatar'|trans }}">
                </div>
            {% endif %}
            {{ form_label(form.avatar_file) }}
            {{ form_widget(form.avatar_file) }}
            {{ form_help(form.avatar_file) }}
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
        </button>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('user_change_password') }}" class="btn btn-lg btn-block btn-danger">
            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.change_password'|trans }}
        </a>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
